.blurb {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 150px;
}

.blurb:after{
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 2.5em;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 50%);
}

.pageHeader{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #000000;
    color: #ffc107;
    border-radius: 0.3rem;
}

@media (min-width: 576px) {
    .pageHeader {
        padding: 4rem 2rem;
    }
}

.pageHeader-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

h1{
    margin: auto;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.5em;
}

#sidebar{
    width: 10%;
}

.sidebarMenu{
    display: inline;
    list-style-type: none;
}

.sidebarLink{
    transform: rotate(-90deg);
}